{% extends 'base.html' %}

{% block content %}

<div style="margin: 20px">
<h1>Про нас</h1>
    <p >МИ МУЛЬТИБРЕНДОВІ - МИ РАЗОМ З ТРЕНДАМИ <h3>МИ PACKIT</h3></p>
    <br><br><br>
    <div class="promo__content">
        <ul class="promo-list">
            <li  class="promo-list__item text-content text-content--small">
                <p style="font-size: 24px;">З <span style="color: #A5D300">2009</span> року на сторожі якості товарів з гарантією виробника.</p>
            </li>
            <li  class="promo-list__item text-content text-content--small">
                <p style="font-size: 24px;">Більше <span style="color: #A5D300">56</span> магазинів в <span style="color: #A5D300">29</span> містах країни - наша PackIT сім'я.</p>
            </li>
            <li  class="promo-list__item text-content text-content--small">
                <p style="font-size: 24px;">ВСI товари  - З гарантією виробника та сертифікатами відповідності.</p>
            </li>
        </ul>
        <br><br><br>
        <h3 >З PACIT як вдома</h3>
        <p >Ваші бажання - наша турбота!
Вибирайте в комфортній обстановці і в зручний час. PackIT співпрацює з різними брендами і неодноразово отримувала нагороди від партнерів. Ми є спонсором соціальних конкурсів і програм, націлених на розвиток дітей та молоді.

Особисті нагороди отримують провідні фахівці, які внесли відчутний вклад в розвиток продуктивного партнерства між персоналом і покупцем.</p>
    </div>
</div>
{% endblock %}