{% extends 'base.html' %}
{% load shop_tags %}
{% block content %}

    <style>
    .g-slider__img {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    </style>
{% for i in current_item %}
			<main class="page__main">
				<div class="breadcrumbs">
					<div class="breadcrumbs__container">
						<div class="breadcrumbs__row">
							<div class="breadcrumbs__col">
								<ul class="breadcrumbs-list">
									<li class="breadcrumbs-list__item">
										<a class="breadcrumbs-list__link" href="/{{ category_slug }}">{{ i.category.category.title }}</a>
									</li>
									<li class="breadcrumbs-list__item">
										<a class="breadcrumbs-list__link" href="/{{ category_slug }}/{{ subcategory_slug }}">{{ i.category.title }}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<section class="section section--fluid section--no-padding">
					<div class="section__container">
						<div class="section__row">
							<div class="section__header">
								<h1 class="main-title">{{ i.title }}</h1>
							</div>
						</div>
					</div>
					<div class="catalog-item" style="position: relative">
						<div class="catalog-item__container">
							<div class="catalog-item__row">
								<div class="catalog-item__slider">
									<div class="slider-wrapper slider-wrapper--gallery">
										<div class="g-slider swiper-container js-g-slider">
											<div class="g-slider__wrapper swiper-wrapper">
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="{{ i.main_photo_xxl2.url }}" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
																<img class="g-slider__img" src="{{ i.main_photo_xxl2.url }}" >
                                                        </div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
                                                            <img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg">
														</div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
															<picture>
																<source media="(min-width: 2560px)" srcset="img/product-card-img--big-01--xxl.jpg 1x, img/product-card-img--big-01--xxl@2x.jpg 2x">
																<img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg" srcset="img/product-card-img--big-01--xs@2x.jpg 2x" width="768" height="576" alt="">
															</picture>
														</div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
															<picture>
																<source media="(min-width: 2560px)" srcset="img/product-card-img--big-01--xxl.jpg 1x, img/product-card-img--big-01--xxl@2x.jpg 2x">
																<img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg" srcset="img/product-card-img--big-01--xs@2x.jpg 2x" width="768" height="576" alt="">
															</picture>
														</div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
															<picture>
																<source media="(min-width: 2560px)" srcset="img/product-card-img--big-01--xxl.jpg 1x, img/product-card-img--big-01--xxl@2x.jpg 2x">
																<img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg" srcset="img/product-card-img--big-01--xs@2x.jpg 2x" width="768" height="576" alt="">
															</picture>
														</div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
															<picture>
																<source media="(min-width: 2560px)" srcset="img/product-card-img--big-01--xxl.jpg 1x, img/product-card-img--big-01--xxl@2x.jpg 2x">
																<img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg" srcset="img/product-card-img--big-01--xs@2x.jpg 2x" width="768" height="576" alt="">
															</picture>
														</div>
													</a>
												</div>
												<div class="g-slider__item swiper-slide">
													<a class="g-slider__img-wrap" href="img/product-original-img.jpg" data-fancybox="gallery">
														<div class="g-slider__img-ratio">
															<picture>
																<source media="(min-width: 2560px)" srcset="img/product-card-img--big-01--xxl.jpg 1x, img/product-card-img--big-01--xxl@2x.jpg 2x">
																<img class="g-slider__img" src="img/product-card-img--big-01--xs.jpg" srcset="img/product-card-img--big-01--xs@2x.jpg 2x" width="768" height="576" alt="">
															</picture>
														</div>
													</a>
												</div>
											</div>
										</div>
																			</div>

								</div>
								<div class="catalog-item__description">
                                    <div>
                                        {{ i.description }}
                                    </div>
									<div class="catalog-item__purchase" style="bottom: 40px; position: absolute;">
										<div class="catalog-item__price" >
											<div class="price price--catalog-item">
												<div class="price__value">{{ i.price|shop_tags }}<span class="price__unit">&nbsp;₴</span></div>
											</div>
										</div>

                                             <form action="{% url "cart:cart_add" i.id %}" method="post">
                                              {{ cart_product_form }}
                                              {% csrf_token %}
                                              <input type="submit" value="Додати у кошик" style="border: none;
    background: #208ad8;
    padding: 15px 35px;">
                                             </form>
										<div class="catalog-item__compare">
											<!--todo: Если товар в сравнении, добавляем класс-модификатор btn-count--active у кнопки -->

										</div>
									</div>
									<div class="catalog-item__addon">
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section">
					<div class="section__container">
						<div class="section__row">
							<div class="section__col">
								<div class="promo promo--delivery">
									<div class="promo__row">
										<div class="promo__col">
											<div class="promo__header">
												<h2 class="section-title">Доставка та оплата</h2>
											</div>
											<div class="promo__content">
												<ul class="promo-list">
													<li class="promo-list__item text-content text-content--small">
														<p>Надсилаємо посилки Новою поштою. Доставка по Одесі безкоштовна</p>
													</li>
													<li class="promo-list__item text-content text-content--small">
														<p>Оплата банківською карткою, готівкою або через PayPal. Наперед або при отриманні.</p>
													</li>
													<li class="promo-list__item text-content text-content--small">
														<p>На всі товари діє гарантія 9 місяців</p>
													</li>
												</ul>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
{% endfor %}
{% endblock %}