{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page__main">
				<h1 class="visuallyhidden">Каталог</h1>
				<section class="section section--top">
					<div class="section__container">
						<div class="section__row">
							<div class="section__col">
								<div class="c-filter">
									<div class="c-filter__row">
										<div class="c-filter__products">
											<div class="tabs js-tabs">
												<div class="tabs__select">
													<select class="tabs-select form-select c-filter__tabs-select js-form-select js-tabs-select-trigger">
														<option value="tab-1">Наборы для склейки</option>
														<option value="tab-2">Чертежи для бумаги</option>
														<option value="tab-3">Готовые фигуры</option>
														<option value="tab-4">Чертежи для металла</option>
													</select>
												</div>
												<div class="tabs__list">
													<ul class="tabs-list c-filter__tabs-list">

														{% for category in all_categories %}
														<a href="../../{{ category.slug }}">
														{% if category.title == current_category.title %}
															<li class="tabs-list__item js-tabs-trigger tabs-list__item--active" data-tab="tab-1">{{ category.title }}</li></a>
														{% else%}
														<li class="tabs-list__item js-tabs-trigger" data-tab="tab-1">{{ category.title }}</li></a>

														{% endif %}
														{% endfor %}

													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="c-filter__row">
										<div class="c-filter__types">
											<ul class="filter-list">
												{% for i in current_subcategories %}

												{% if i.title == current_subcategory.title %}
													<li class="filter-list__item filter-list__item--active" style="color: blue"><a href="/{{ i.category.slug }}/{{ i.slug }}">{{ i.title }}</a></li>
												{% else %}
													<li class="filter-list__item"><a href="/{{ i.category.slug }}/{{ i.slug }}" style="color: black">{{ i.title }}</a></li>
												{% endif %}
												{% endfor %}

											</ul>
										</div>
										<div class="c-filter__price">
											<form action="" method="POST">
												{% csrf_token %}
												<select class="tabs-select form-select form-select--size_small js-form-select" name="select">
													<option value="1">Цена по возрастанию</option>
													<option value="2">Цена по убыванию</option>
												</select>
												<button type="submit">submit</button>
											</form>
										</div>
									</div>
									<div class="tabs-content c-filter__tabs-content tabs-content--active" data-tab-content="tab-1">
										<div class="catalog-list">
											<div class="catalog-list__row">
												{% for item in item_list %}

												<div class="catalog-list__col">
													<div class="c-card c-card--model">
														<a class="c-card__img-wrap" href="catalog-item.html">
															<div class="c-card__img-ratio">
																<picture>
																	<source media="(min-width: 2560px)" srcset="img/product-card-img-01--xxl.jpg 1x, img/product-card-img-01--xxl@2x.jpg 2x">
																	<img class="c-card__img" src="{{ item.main_photo_xxl2.url }}" srcset="img/product-card-img-01--xs@2x.jpg 2x" width="728" height="546" alt="">
																</picture>
															</div>
														</a>
														<div class="c-card__content">
															<h3 class="c-card__title">
																<a class="c-card__title-link" href="catalog-item.html">{{ item.title }}</a>
															</h3>
															<div class="c-card__footer">
																<div class="price price--c-card">
																	<div class="price__value price__value--old">2&nbsp;700<span class="price__unit">&nbsp;₽</span></div>
																	<div class="price__value">{{ item.price_rub }}<span class="price__unit">&nbsp;₽</span></div>
																</div>
																<div class="c-card__buttons">
																	<!--todo: Если товар в сравнении, добавляем класс-модификатор btn-count--active у кнопки -->
																	<button class="btn-count btn-count--short btn-count--card" type="button">
																		<div class="btn-count__icon-wrap">
																			<svg class="btn-count__icon" viewBox="0 0 32 25" width="32" height="25">
																				<use xlink:href="img/sprite.svg#icon-compare"></use>
																			</svg>
																		</div>
																		<span class="btn-count__title">Сравнить</span>
																	</button>
																	<!--todo: Если товар в корзине, добавляем класс-модификатор btn-count--active у кнопки -->
																	<button class="btn-count btn-count--buy btn-count--card btn-count--active" type="button">
																		<div class="btn-count__icon-wrap">
																			<svg class="btn-count__icon" viewBox="0 0 22 19" width="22" height="19">
																				<use xlink:href="img/sprite.svg#icon-btn-cart"></use>
																			</svg>
																			<svg class="btn-count__icon" viewBox="0 0 22 19" width="22" height="19">
																				<use xlink:href="img/sprite.svg#icon-btn-cart-check"></use>
																			</svg>
																		</div>
																		<span class="btn-count__title">В корзине</span>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
</div>
										</div>

										<div class="preloader preloader--catalog">
											<div class="preloader__spinner"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
		</div>

{% endblock %}