{% extends 'base.html' %}

{% block content %}

<div style="margin: 20px">

<h1>Контакти</h1>
<ul style="margin-left: 50px;">
    <li>
        <b>Київстар</b><br>
(098) 907-96-96
    </li>  <li>
        <b>Vodafon</b><br>
(095) 291-97-87
    </li>  <li>
        <b>Lifecell</b><br>
(093) 248-67-11
    </li>  <li>
        <b>Одеса</b><br>
(048) 734-41-28
</li>
</ul>
    <br><br><br>
<h4>Розклад роботи інтернет-магазину та точок видачі</h4>

<ul style="margin-left: 50px;">
    <li>Пн-Пт: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10:00 — 20:00</li>
    <li>Сб:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10:00 — 19:00</li>
    <li>Нд:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10:00 — 19:00</li>

</ul>
    <br><br>
    <h4>Корпоративний відділ</h4>

<div style="margin: 50px">
    Менеджер: Павел <br>
    +38 (068) 461-74-26 <br>
    infopz.avic@gmail.combr <br>
    Skype: pzaitsev19 <br>

        <br><br>
        Менеджер: Антон <br>
    +38 (068) 220-54-52 <br>
    Sennikov_A@avic.ua

</div>
</div>


{% endblock %}