{% extends 'base.html' %}

{% block content %}
<div style="margin: 20px">
<h1>Умови доставки</h1>

    <h3 style="text-align: center">Якщо зробили замовлення  <span style="color: red">до 19:00</span> - можете забрати
        покупку у той самий день. Замовили  <span style="color: red">після 19:00</span> - забирайте
        <span style="text-decoration: underline">наступного</span> дня</h3>
    <br><hr><br>
    <p>Кур'єрська доставка в містах Харків та Київ
Мінімальна вартість доставки від 70 гривень. Більш детальну інформацію про ціну та умови транспортування в Харкові та Києві можна знайти в описі товару.</p>
    <br>
    <hr><br>
<p>До відділення "Нова пошта"
Вартість доставки за тарифами "Нової пошти.</p>
    <br>
    <hr>
    <br>
<p>Кур'єрська доставка "Нова пошта" по всій Україні
Вартість доставки за тарифами "Нової пошти.</p>
</div>
{% endblock %}